body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  /* max-height: 100%;
  min-height: 500px; */
  /* max-width: 100%;
  min-width: 100%; */
  overflow: hidden;
  /* position: fixed; */
}

.sidebar {
  max-width: 200px;
  height: 100vh;
  overflow: hidden;
  border-right-style: solid;
  border-right-color: rgb(40, 44, 52);
  border-right-width: 10px;
}

.subfolder{
  margin-left: 10px;
  /* border-left: outset;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(155, 151, 151); */
}

.subfolder-collapse {
  display: none;
}

.subfolder:hover {
  border-left: outset;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(155, 151, 151);
}

.body {
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: rgb(40, 44, 52);
}

.operation-bar {
  height: 30px;
}

.workspace {
  display: felx;
  flex-direction: column;
  flex: auto;
}

.header {
  height: 30px;
  text-align: center;
  background-color: rgb(40, 44, 52);
}

.terminal-container {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: rgb(40, 44, 52);
  display: flex;
  height: 190px;
}

.xterm {
  height: 180px;
}

.xterm-viewport::-webkit-scrollbar {
  width: 10px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background:rgb(50, 56, 66);
}

.fileview {
  height: calc(100% - 270px);
  overflow: hidden;
  background-color: rgb(32, 33, 36);
}

.fileview:hover {
  overflow-y: scroll;
}

.fileview::-webkit-scrollbar {
  width: 10px;
}

.fileview::-webkit-scrollbar-thumb {
  background:rgb(50, 56, 66);
}

.file-handle {
  height: 30px;
  display: flex;
}

.file-handle-text {
  margin-left: 10px;
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  width: 130px;
  color: white;
  font-size: small;
}

.file-handle .injected-svg{
  size: 16px;
  margin: 7px 2px;
}

.injected-svg {
  margin: 0px 0px 0px 2px;
}

.footer {
  height: 20px;
  /* border-top-style: solid; */
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(40, 44, 52);
}

.file-tag {
  line-height: 1.2em;
  padding: 0px 0px 0px 18px;
  display: flex;
}

.file-tag:hover {
  background-color:rgb(40, 44, 52);
  cursor: pointer;
}

.folder-tag {
  line-height: 1.2em;
  padding: 0px;
  display: flex;
}

.folder-tag:hover {
  background-color:rgb(40, 44, 52);
  cursor: pointer;
}

.name-tag-hover {
  background-color:rgb(40, 44, 52);
}

.file-name-tag {
  margin-left: 5px;
  font-size: medium;
  color: rgb(204, 204, 204);
  overflow: hidden;
  white-space: nowrap;
}

.name-tag-edit {
  height: inherit;
  padding: 0px;
  border: 1px;
  border-color: grey;
  border-style: solid;
  background:rgb(50, 56, 66);
  outline: none;
}

/* .name-tag-edit:focus {
  height: inherit;
  padding: 0px;
  border: 1px;
  border-color: grey;
  border-style: solid;
  background:rgb(50, 56, 66);
} */

.operation-bar {
  margin-left: 10px;
  display: flex;
  font-size: small;
  color: rgb(204, 204, 204);
  flex: auto;
  vertical-align: middle;
  horizontal-align: middle;
  line-height: 30px;
}

.operation-bar .injected-svg{
  margin: 7px 0px 7px 0px;
}
/*
.header {
  text-align: center;
  border-bottom-style: solid;
} */